pkgbase = rl-lang
	pkgdesc = Programming language with first-class VM and C transpiler
	pkgver = 2.2.1
	pkgrel = 1
	url = https://github.com/rl-lang/rl-lang
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	depends = zlib
	source = https://github.com/rl-lang/rl-lang/archive/v2.2.1/rl-lang-2.2.1.tar.gz
	sha256sums = 5457715e77d7a86cb8304b269a0865d1eca2f94c1bf1f02acd6b55f0031f7d6a

pkgname = rl-lang
