pkgbase = rl-lang
	pkgdesc = Programming language with first-class VM and C transpiler
	pkgver = 2.3.0
	pkgrel = 1
	url = https://github.com/rl-lang/rl-lang
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	depends = zlib
	source = https://github.com/rl-lang/rl-lang/archive/v2.3.0/rl-lang-2.2.1.tar.gz
	sha256sums = 79b980c79be39a3b89f5f174901ab409702ae7b62233cfafcecabcd543bc60ae

pkgname = rl-lang
